<nav>
    <a class="active" href="#/">Home</a>
    {{#if isAuth}}
    <a href="#/all">All Listings</a>
    <a href="#/my-listings">My Listings</a>
    <a href="#/create">Create Listing</a>
    <div id="profile">
        <a>Welcome {{username}}</a>
        <a href="#/logout">logout</a>
    </div>
    {{/if}}
</nav>